{% extends "tracker/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h1 class="my-4 text-2xl leading-none tracking-tight text-white md:text-3xl lg:text-4xl">{% trans "Sign Up" %}</h1>

<p class="mb-4 text-white">
    {% blocktrans %}Already have an account? Then please 
        <a class="font-medium text-blue-600 dark:text-blue-500 hover:underline" href="{{ login_url }}">sign in</a>.
    {% endblocktrans %}
</p>

<form class="signup w-[100%] md:w-[50%]" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <div class="mb-4">
    {{ form.username|add_label_class:"text-white mb-4" }}
    {% render_field form.username class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
  </div>

  <div class="mb-4">
    {{ form.password1|add_label_class:"text-white mb-2" }}
    {% render_field form.password1 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
  </div>

  <div class="mb-4">
    {{ form.password2|add_label_class:"text-white mb-2" }}
    {% render_field form.password2 class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %}
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
    <button class="mt-2 focus:outline-none text-white bg-[#73B769] hover:bg-[#56964a] focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" type="submit">
        {% trans "Sign Up" %} &raquo;
    </button>
</form>

{% endblock %}